@font-face {
    font-family: 'Roboto';
    src: url(../odin-landing-page/font/Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto';
    margin: 0;
}

.container,
.column {
    display: flex;
    flex-direction: column;
}

.column {
    width: 500px;
}

.header,
.footer {
    background-color: #1F2937;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

p {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    color: #E5E7EB;
    font-size: 18px;
}

.signup{
    color: white;
    font-weight: bold;
    background-color: #0366fc;
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 100px;
}

.info {
    margin: 0;
    padding: 0;
    width: 156px;
    height: 106px;
    border-color: #0366fc;
    border-radius: 15px;
    border-width: medium;
}

img {
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.body {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 150px;
    text-align: center
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 50px;
    padding-left: 250px;
    padding-right: 250px;
}

.name {
    font-style:normal;
    text-align: end;
    font-weight: bold;
    padding: 20px;
}